:root {
  --background-clr: hsl(0, 0%, 100%);
  --light-clr: hsl(0, 0%, 100%);
  --gray-clr: hsl(0, 0%, 68%);
  --dark-clr: hsl(0, 0%, 0%);
  --primary-clr: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
